@media screen and (max-width:500px){
    .wrapper{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        grid-template-areas:
        "navigation"
        "body-wrapper"
        "about-wrapper"
        "skills-wrapper"
        "work-wrapper"
        "menu-content";
    }
    /*navigation section coding start here*/
    .navigation{
        display:grid;
        grid-area:navigation;
        height:60px;
        position:absolute;
        left:0;
        right:0;
        top:0;
        background-color:white;
    }
    .span1,.span2,.span3{
        height:3px;
        width:25px;
        display:absolute;
        background-color:#000000;
    }
    .span2,.span3{
        margin-top:-13px;
    }
    .menu-btn{
        position:absolute;
        right:20px;
        top:8px;
    }
    .menu-content{
        display:grid;
        grid-area:menu-content;
        grid-template-columns:repeat(4,1fr);
        justify-items:center;
        position:absolute;
        left:0;
        right:0;
        height:52px;
        top:60px;
        background-color:#f5b8cc;
        display:none;
        border-bottom:solid 2px white;
    }
    .home-icon,.about-icon,.skills-icon,.work-icon{
        height:40px;
        margin-top:5px;
    }
    .name-caption{
        color:#000000d4;
        font-family:arial;
        font-weight:bolder;
        font-size:40px;
        margin-top:10px;
    }
    /*navigation section coding ended here*/
    /*body section coding start here*/
    .body-wrapper{
        display:grid;
        grid-area:body-wrapper;
        grid-template-columns:repeat(1,1fr);
        position:absolute;
        top:60px;
        left:0;
        right:0;
        height:100%;
        justify-items:center;
        background-color:#f19db9b8;
    }
    .innerbody{
        display:grid;
        grid-area:inner-wrapper;
        justify-items:center;
        background-color:white;
        position:absolute;
        left:20px;
        height:100%;
        right:20px;
        top:10px;
    }
    .body-img{
        height:110px;
        position:absolute;
        top:60px;
        width:110px;
        border-radius:180px;
    }
    .hi-caption,.im-caption{
        position:absolute;
        color:black;
        font-family:Arial;
        font-weight:bolder;
        top:160px;
        left:20px;
        font-size:40px;
    }
    .im-caption{
        top:215px;
        font-size:30px;
    }
    .jobs{
        position:absolute;
        color:#000000;
        font-weight:bold;
        font-family:Arial;
        font-size:13px;
        top:290px;
        left:20px;
    }
    /*body section coding ended here*/
    /*about section coding start here*/
    .about-wrapper{
        display:none;
        grid-area:about-wrapper;
        height:100%;
        position:absolute;
        left:0;
        right:0;
        background-color:#f19db9b8;
        top:60px;
        justify-items:center;
    }
    .innerabout{
        display:grid;
        grid-area:innerabout;
        position: absolute;
        left:20px;
        right:20px;
        top:10px;
        height:100%;
        background-color:white;
    }
    /*about section coding start here*/

    .skills-wrapper{
        display:none;
        grid-area:skills_wrapper;
        height:100%;
        position:absolute;
        left:0;
        right:0;
        background-color:#f19db9b8;
        top:60px;
    }
    .innerskills{
        display:grid;
        justify-items:center;
        position: absolute;
        left:20px;
        top:10px;
        right:20px;
        height:100%;
        background-color:white;
    }
    .skills-caption1{
        position:absolute;
        color:black;
        font-weight:bold;
        font-family:Arial;
        top:40px;
        font-size:30px;
    }
    .skills-caption2{
        position:absolute;
        font-family:arial;
        font-weight:bolder;
        top:220px;
    }
    .skills-caption3{
        position:absolute;
        font-family:arial;
        font-weight:bolder;
        top:390px;
    }
    .socialmedia-img{
        height:100px;
        position:absolute;
        top:130px;
    }
    .contentcreation-img{
        position:absolute;
        height:134px;
        top:270px;
    }
    .work-wrapper{
        display:none;
        grid-area:work_wrapper;
        height:100%;
        position:absolute;
        left:0;
        right:0;
        background-color:#f19db9b8;
        top:60px;
    }
    .innerwork{
        display:grid;
        position: absolute;
        left:20px;
        right:20px;
        height:100%;
        background-color:white;
    }
    .about-caption{
        color:#000000;
        position:absolute;
        top:30px;
        font-weight:bolder;
        font-family:arial;
        left:20px;
        font-size:30px;
    }
    .about-paragraph{
        color:black;
        position:absolute;
        top:110px;
        font-family:arial;
        font-weight:bolder;
        font-size:12px;
        left:20px;
    }
}

@media screen and (min-width:100px) and (max-width:285px){
    .jobs{
        top:330px;
    }
    .skills-caption1{
        font-size:24px;
    }
    .skills-caption2{
        font-size:13px;
    }
    .skills-caption3{
        margin-top:-50px;
        font-size:13px;
        font-weight:bolder;
        top:460px;
    }
    .socialmedia-img{
        height:90px;
    }
}
@media screen and (min-width:287px) and (max-width:324px){
    .jobs{
        margin-top:50px;
    }
}
@media screen and (min-width:100px) and (max-width:216px){
    .socialmedia-img,.contentcreation-img{
        height:70px;
    }
    .skills-caption3{
        margin-top:-100px;
    }
}